<!DOCTYPE html>
<!-- document_head.html -->
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>CSCI338: Group Project</title>
</head>

<body>
<div id="particles-js"></div>
<div id="header">
    <b>Fruit Recognition</b>
</div>

<div class="card-stack">

    <div class="card-container">
        <div class="card card-small">
            <b>The Team:</b><br>Garrett<br>James<br>Josh<br>Guy<br>Nicholas<br>Cristian
        </div>

        <div class="card card-large">
            <h1>Carmen</h1>
            <p>Carmen is the name of the group's fruit-recognition program. Carmen has the ability to identify close to
                1,000 different fruits with an accuracy OVER 9000! Please, see the box below to try it out.
            </p>
        </div>
    </div>

    <div class="card" style="width: 100%;">
        <h2>Submit a Picture</h2>
        <p>Select an image file from your computer to see if Carmen can identify the fruit.
            <br>Use image with extension .jpeg (or) .png</p>
        <div class="submitImage">
            <form action="{{url_for('get_results')}}" method="POST" enctype="multipart/form-data">
                <input type="file" id="myImage" name="imageName" accept="image/jpeg, image/jpg, image/png">
                <input type="submit">
            </form>
        </div>
    </div>

</div>
<script src="{{url_for('static', filename='scripts/particles.js')}}"></script>
<script src="{{url_for('static', filename='scripts/app.js')}}"></script>
</body>

</html>